@font-face {
    font-family: Product sans;
    src: url("Product\ Sans\ Regular.ttf");
}

@font-face {
    font-family: Product sans bold;
    src: url("Product\ Sans\ Bold.ttf");
}

@font-face {
    font-family: Zuume SemiBold;
    src: url("Zuume\ SemiBold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Product sans;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,textarea,button,select,a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,a:visited,a:active{
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
    
    
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#main {
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
}

nav {
    position: fixed;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3vw 0vw;
}

.left-nav a img {
    width: 8vw;
}

.center-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;
}

.center-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5vw;
    cursor: pointer;
    padding: 0.7vw 0vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

.center-nav a:hover {
    color: lawngreen;
}

.right-nav button {
    padding: 1vw 2vw;
    font-size: 1.4vw;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

.right-nav button:hover,
.btn button:hover {
    /* background-color: #cb5cff; */
    background-image: url(https://media.giphy.com/media/3o6Zt0EiSgr1cWE6WY/giphy.gif?cid=ecf05e47td4s6r4h5objtsvaon4zcu9z277s3hposi0v79ak&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    color: #fff;
}

.lft {
    width: 40%;
    min-height: 100vh;
    /* background-color: #cb5cff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
}

.lft h1 {
    font-size: 10vw;
    font-family: Zuume SemiBold;
    font-weight: bolder;
    font-style: bold;
    color: transparent;
    -webkit-background-clip: text;
    background-image: url(https://media.giphy.com/media/qhepNcb0L83PG/giphy.gif?cid=790b76114mdwrg81b3eqa2lkey4z4b8m02k4wnaoxrrq15mr&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    background-repeat: no-repeat;
    line-height: 17vh;
}

.btn {
    display: flex;
    gap: 2vw;
}

.btn button {
    padding: 1.2vw 2vw;
    border: none;
    border-radius: 10px;
    background-color: lawngreen;
    font-size: 1.1vw;
    cursor: pointer;
}

.btn button:last-child {
    background-color: rgb(227, 255, 199);
}

.lft p {
    width: 28vw;
    color: #fff;
    font-size: 1.3vw;
}

.rght {
    width: 60%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rght video {
    height: 70vh;
    width: 100%;
}

.ri-menu-fill {
    color: #fff;
    display: none;
}

.resp-nav {
    display: none;
}

@media (max-width: 500px) {
    .ri-menu-fill {
        display: initial;
        font-size: 7vw;
    }

    .center-nav,
    .right-nav {
        display: none;
    }

    .left-nav a img {
        width: 25vw;
    }

    nav {
        justify-content: space-between;
        padding: 0 10vw;
    }

    #main,
    .btn {
        flex-direction: column;
    }

    .lft {
        width: 100%;
    }

    .lft h1 {
        font-size: 30vw;
        margin-top: 20vh;
    }

    .lft p {
        width: 84vw;
        font-size: 6vw;
    }

    .btn {
        gap: 3vh;
    }

    .btn button {
        font-size: 5vw;
        padding: 5vw 15vw;
    }

    .rght {
        width: 100%;
        min-height: 50vh;
    }

    .resp-nav {
        display: initial;
        width: 100%;
        height: 100vh;
        left: -100%;
        background-color: #111;
        position: absolute;
        top: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
        transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    }

    .resp-nav a {
        color: #fff;
        text-decoration: none;
        font-size: 7.5vw;
        cursor: pointer;
        padding: 1vw 0vw;
        transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    }

    .resp-nav button {
        padding: 5vw 7vw;
        font-size: 7.4vw;
        border-radius: 20px;
        cursor: pointer;
        border: none;
        transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    }

    .resp-nav a:hover {
        color: lawngreen;
    }

    .resp-nav button:hover {
        background-image: url(https://media.giphy.com/media/3o6Zt0EiSgr1cWE6WY/giphy.gif?cid=ecf05e47td4s6r4h5objtsvaon4zcu9z277s3hposi0v79ak&ep=v1_gifs_search&rid=giphy.gif&ct=g);
        color: #fff;
    }

    .resp-nav i {
        position: absolute;
        top: 5%;
        right: 10%;
        color: #fff;
        font-size: 7vw;
    }
}
